* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bodyColor: #fff;
  --navColor: #fff;
  --linksNav: #0f051d;
  --whiteColor: #fff;
  --dark-Color: #0f051d;
  --secondDark: #131316;
  --moveColor: #741ff5;
  --secondMove: #e348ff;
  --grayColor: #7b7583;
  --secondGray: #87828e;
  --thirdMove: #2600fc;
  --whiteBorder: #fff;
  --backgroundWhite: #fff;
  --dark-btn: #0f051d;
}
body {
  /* background-color: #eee; */
  font-family: "Roboto", sans-serif;
  /* background-color: ; */
  counter-reset: counter;
  background-color: var(--bodyColor);
}
ul {
  list-style: none;
}
.container {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 35px;
}
.divider {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* margin: 45px 0; */
}
.special-heading {
  text-align: center;
  /* font-size: 80px; */
  font-size: 6vw;
  text-transform: uppercase;
  color: var(--dark-Color);
  font-weight: 900;
  /* letter-spacing: -3px; */
  margin: 30px 0;
  letter-spacing: 1px;
}
.special-gradient {
  background-color: #2600fc;
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.divider .bricks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.divider .reverse {
  flex-direction: row-reverse;
}
.divider .bricks span {
  background-color: var(--moveColor);
  height: 6px;
  width: 26px;
  transform: skew(-30deg);
}
.divider .bricks span:nth-child(2) {
  opacity: 0.5;
}
.divider .bricks span:first-child {
  opacity: 0.2;
}
.divider .star img {
  width: 20px;
}
nav {
  background-color: var(--navColor);
  position: fixed;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  z-index: 999;
}
nav .navbar .mobile-links {
  position: relative;
  display: none;
}
nav .navbar .mobile-links .icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  transition: 0.3s;
}
nav .navbar .mobile-links .icon:hover {
  color: var(--moveColor);
}
nav .navbar .mobile-nav-links {
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 60px;
  width: 100%;
  right: -100%;
  background-color: var(--whiteColor);
  padding: 15px 30px;
  display: none;
  transition: 0.6s;
  border-top: 1px dashed var(--moveColor);
  border-bottom: 1px dashed var(--moveColor);
  border-left: 2px solid var(--moveColor);
}

.active-nav {
  right: 0 !important;
}
nav .navbar .mobile-nav-links .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 26px;
  cursor: pointer;
  transition: 0.3s;
}
nav .navbar .mobile-nav-links .close:hover {
  color: var(--moveColor);
}
nav .navbar .mobile-nav-links ul li {
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bolder;
  color: var(--linksNav);
  width: fit-content;
}

nav .navbar .mobile-nav-links ul li:hover {
  padding-left: 10px;
  color: var(--moveColor);
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
nav .navbar .logo img {
  width: 90px;
}
nav .navbar .links ul {
  display: flex;
  gap: 30px;
}
nav .navbar .links ul li {
  font-size: 20px;
  font-weight: 500;
  color: var(--linksNav);
  transition: 0.3s;
}
nav .navbar .links ul li:hover {
  color: var(--moveColor);
}
nav .navbar .social ul {
  display: flex;
  gap: 25px;
}
nav .navbar .social ul li {
  transition: 0.3s;
  cursor: pointer;
  color: var(--linksNav);
}
nav .navbar .social ul li:hover {
  color: var(--moveColor);
}
nav .navbar .social ul li i {
  font-size: 22px;
}
nav .logo h1 {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  color: var(--dark-Color);
}
/* Hero  */
section.hero {
  padding: 80px 0;
}
section.hero .text-head h1 {
  font-size: 96px;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: -3px;
  text-align: center;
  line-height: 90px;
  font-weight: 900;
  margin-top: 80px;
  color: var(--dark-Color);
}

section.hero .text-head h1 .text-gradinet {
  background-color: #2600fc;
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.hero .parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 60px;
  padding-bottom: 100px;
}
section.hero .parent .left,
section.hero .parent .right {
  display: flex;
  align-items: center;
  gap: 35px;
}
section.hero .parent img {
  border: 8px solid var(--whiteBorder);
  /* display: none; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
section.hero .parent .left .single-box img,
section.hero .parent .right .single-box img {
  height: 220px;
  width: 170px;
  border-radius: 20px;
  object-fit: cover;
}
section.hero .parent .left .double-box,
section.hero .parent .right .double-box {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
section.hero .parent .left .double-box .one img,
section.hero .parent .left .double-box .two img,
section.hero .parent .right .double-box .one img,
section.hero .parent .right .double-box .two img {
  height: 158px;
  width: 158px;
  border-radius: 20px;
  overflow: hidden;
}

section.hero .parent .center .big-box img {
  height: 445px;
  width: 345px;
  object-fit: cover;
  border-radius: 20px;
}

/* Why  */

section.why .parent {
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  gap: 40px;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 100px;
}
section.why .parent .mezor {
  width: calc(100% / 3);
}

section.why .parent .image img {
  width: 100%;
}

section.why .parent .card {
  display: flex;
  gap: 25px;
  background-color: var(--backgroundWhite);
  border-radius: 25px;
  padding: 35px;
  box-shadow: 0 3px 8px -1px #00000014;
  border: 1px solid #83838340;
  margin-bottom: 30px;
}

section.why .parent .card .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2600fc;
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  width: 70px;
  height: 70px;
  border-radius: 20px;
  color: var(--whiteColor);
  font-size: 32px;
}
section.why .parent .card .card-content .title {
  font-size: 22px;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  padding-right: 20px;
  color: var(--dark-Color);
}
section.why .parent .card .card-content .desc {
  color: var(--dark-Color);
  font-size: 18px;
  margin-top: 15px;
}

/* About  */

section.about .parent {
  padding: 60px 0;
}
section.about .parent .wrapper {
  display: flex;
  gap: 60px;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
}

section.about .parent .box {
  width: calc(100% / 2);
}
section.about .parent .collection img {
  width: 100%;
  border-radius: 20px;
}

section.about .parent .box h2 {
  text-align: start;
  margin-top: 0;
}

section.about .parent .box .text p {
  margin: 20px 0;
  color: var(--secondDark);
  font-weight: 500;
  opacity: 0.9;
  font-size: 20px;
  letter-spacing: normal;
}
section.about .parent .about-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
section.about .parent .about-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(94% / 3);
  height: 150px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #83838340;
  overflow: hidden;
  box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.1);
}

section.about .parent .about-boxes .box .content h5 {
  font-size: 60px;
  font-family: "Space Grotesk", sans-serif;
}

section.about .parent .about-boxes .box .content span {
  color: var(--secondDark);
  font-weight: 500;
  opacity: 0.8;
  letter-spacing: 1px;
}

section.about .parent .activates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 80px;
  gap: 20px;
}
section.about .parent .activates .act-box {
  text-align: center;
}
section.about .parent .activates .act-box .icon {
  font-size: 54px;
}
section.about .parent .activates .act-box .points {
  font-size: 72px;
  color: var(--dark-Color);
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
}
section.about .parent .activates .act-box .type {
  font-size: 18px;
  color: var(--grayColor);
}

/* Road Map  */
section.road-map .wrapper {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
section.road-map .wrapper .links {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
section.road-map .wrapper .links li {
  text-decoration: none;
  color: var(--secondGray);
  cursor: pointer;
  font-weight: bolder;
  font-size: 32px;
  transition: 0.3s ease;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  position: relative;
}
section.road-map .wrapper .links ul :before {
  position: absolute;
  left: -40px;
  top: -25px;
  counter-increment: counter;
  content: "0" counter(counter) " ";
  display: none;
  color: var(--secondMove);
}
section.road-map .wrapper .links ul li.active {
  color: #0f051d;
}
section.road-map .wrapper .links ul li.active:before {
  display: block;
}
section.road-map .wrapper .links ul li:hover {
  color: var(--moveColor);
}
section.road-map .wrapper .phases {
  display: flex;
  gap: 25px;
  /* background-color: red; */
  width: 70%;
  justify-content: center;
}

section.road-map .wrapper .phases .phase {
  border: 1px solid #83838340;
  border-radius: 20px;
  padding: 30px;
  max-width: 360px;
  background-color: var(--backgroundWhite);
  position: relative;
  height: 420px;
}

section.road-map .wrapper .phases .phase .head-box {
  background-color: var(--thirdMove);
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  padding: 3px 7px;
  border-radius: 7px;
  color: #fff;
}
section.road-map .wrapper .phases .phase h3 {
  margin: 25px 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: var(--dark-Color);
}
section.road-map .wrapper .phases .phase p {
  margin: 20px 0;
  color: var(--secondDark);
  font-weight: 400;
  opacity: 0.9;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 30px;
}
section.road-map .phases .phase .services {
  position: absolute;
  bottom: 20px;
}
section.road-map .phases .phase .services li {
  position: relative;
  margin: 5px 0;
  font-size: 18px;
  color: var(--dark-Color);
}
section.road-map .phases .phase .services li:before {
  content: "\f058";
  font-family: "Font Awesome\ 5 Free";
  background-color: var(--thirdMove);
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}
section.road-map .wrapper .phases .phase .small-divider {
  width: 80px;
  height: 1px;
  background-color: #83838340;
  position: absolute;
  top: -25px;
}
section.road-map .wrapper .phases .phase .services li {
  margin: 10px 0;
  font-size: 18px;
}

section.road-map .company ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 80px 0;
}
section.road-map .company ul li img {
  width: 100%;
}
section.road-map .company ul li {
  width: 140px;
}

/* Our  */
section.our {
  padding: 60px 0;
}
section.our .parent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
section.our .parent .left-text {
  width: 20%;
}
section.our .parent .left-text p {
  width: 160px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  color: var(--grayColor);
}
section.our .owl-carousel {
  width: 80%;
}

section.our .parent .box-avatar {
  position: relative;
  display: flex;
}

section.our .parent .box-avatar .image {
  overflow: hidden;
}

section.our .parent .box-avatar .image img {
  object-fit: cover;
  width: 280px;
  height: 390px;
  border-radius: 20px;
}

section.our .parent .box-avatar .content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 30px;
  text-align: center;
  justify-content: space-between;
  padding: 20px 0;
}
section.our .parent .box-avatar .content .title {
  color: var(--grayColor);
  font-size: 18px;
  font-weight: bold;
}
section.our .parent .box-avatar .content .social ul {
  display: flex;
  gap: 15px;
}

section.our .parent .box-avatar .content .social ul li {
  font-size: 22px;
  cursor: pointer;
  color: var(--dark-Color);
}
section.our .parent .box-avatar .name {
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 55px;
  font-weight: 900;
  /* font-family: "Space Grotesk", sans-serif; */
  text-transform: uppercase;
  color: var(--dark-Color);
}
section.our .divider {
  margin: 60px;
}

/* Collection  */
section.collection .parent {
  margin-top: 60px;
}
section.collection .parent .box-collection {
  box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.08);
  border: 1px solid #7b758381;
  border-radius: 20px;
  width: 380px;
  height: 390px;
  padding: 20px;
}
section.collection .parent .box-collection .head {
  display: flex;
  align-items: center;
  gap: 15px;
}
section.collection .parent .box-collection .collection img {
  object-fit: cover;
  border-radius: 15px;
}
section.collection .parent .box-collection .head .image img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}
section.collection .parent .box-collection .head .text h4 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Space Grotesk", sans-serif;
  color: var(--dark-Color);
}
section.collection .parent .box-collection .head .text span {
  color: var(--grayColor);
  font-size: 14px;
}
section.collection .parent {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
}
section.collection .collection {
  width: 100%;
  margin-top: 20px;
  /* background-color: red; */
  height: 250px;
  display: flex;
  gap: 15px;
}

section.collection .collection .image-solo img {
  width: 200px;
  height: 100%;
}
section.collection .collection .multiple-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: column; */
}
section.collection .collection .multiple-img img {
  width: 124px;
}
section.collection .divider {
  margin: 70px 0;
}

/* Questions  */
section.questions .row {
  display: flex;
  gap: 5%;
  margin-top: 60px;
}

section.questions .col {
  width: calc(95% / 2);
  /* height: 100px; */
  margin: 5px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
}
section.questions .question:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--grayColor);
}
section.questions .question .accordion-btn {
  /* padding: 20px; */
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  /* background-color: red; */
  position: relative;
  color: var(--dark-Color);
}
section.questions .question .accordion-btn:hover {
  color: var(--grayColor);
}
section.questions .question .accordion-btn:after {
  content: "\002B";
  position: absolute;
  right: 25px;
}
section.questions .question .accordion-btn.is-open:after {
  content: "\2212";
  color: var(--whiteColor);
}
section.questions .question .accordion-btn + .accordion-content {
  display: none;
  padding: 0 20px 20px;
}
section.questions .question .accordion-content p {
  color: var(--grayColor);
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
}
section.questions .question .accordion-btn.is-open + .accordion-content {
  display: block;
}
section.questions .divider {
  margin: 60px 0;
}

/* Join  */
section.join {
  padding: 60px;
  position: relative;
}
section.join .bottom-text {
  width: 100%;
}
section.join .bottom-text p {
  text-align: center;
  font-size: 22px;
  color: var(--grayColor);
}
section.join .btn {
  color: var(--whiteColor);
  font-weight: 700;
  margin: 40px auto;
  background-color: var(--thirdMove);
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  height: 50px;
  width: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
}
section.join .social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
section.join .social ul li {
  font-size: 30px;
  color: rgb(97, 95, 95);
  cursor: pointer;
}
section.join .social ul li:hover {
  color: rgb(136, 133, 133);
}
section.join .copy-right {
  text-align: center;
  margin-top: 20px;
  color: var(--grayColor);
  font-size: 14px;
}

section.join img.end {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

/* Dark & Light */

.dark-light {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--dark-btn);
  color: var(--whiteColor);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 20px;
}
.dark-light:hover {
  width: 42px;
  height: 42px;
}
